.topbar {
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  display: block;
  min-height: 60px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-left: 1px solid #C8C8C8;
  min-height: 47px;
  max-height: 47px;
}

.topbar h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 0px;
}

.sidebar {
  float: left;
  padding: 0;
  background: #f7f7f7;
  min-height: 536px;
}

.sidebar li {
  list-style: none;
}

.sidebar ul {
  padding-left: 0;
}

.sidebar li a {
  color: #96999c;
  font-size: 13px;
  line-height: 17px;
  font-weight: normal;
  border-left: 0 solid transparent;
  display: block;
  margin: 0;
  padding: 5px 10px 5px 20px;
}

.sidebar li a.active {
  border-left: 2px solid blue;
}

.sidebar .compose-new {
  background-color: #FFFFFF;
  border: solid #E5E5E5;
  border-width: 0 1px 1px 0;
  padding: 8px 0 12px 20px;
  height: 33px;
  margin-bottom: 12px;
  color: #666666;
}

.search-inbox {
  padding-left: 20px;
  padding-right: 0px;
  font-size: 13px;
  line-height: 17px;
  color: #333;
  font-weight: normal;
  position: relative;
  margin-top: 20px;
}

.search-inbox .search-keywords {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 20px;
  -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.1) inset;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.1) inset;
  border: 1px solid #c1c1c1;
  width: 121px;
  height: 25px;
}

.content-outer {
  margin-left: 10px;
  float: left;
  min-height: 536px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
  /*padding-right: 0px;*/
  background-color: white;
  position: relative;
}

.content-outer .topActionBar {
  height: 32px;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 0px;
  padding-right: 10px;
}

.action-dropdown {
  font-family: Arial, helvetica, sans-serif;
  font-size: 12px;
  color: #6f6f6f;
  padding-top: 8px;
}

.inbox-item {
  display: block;
  margin-top: 10px;
  min-height: 78px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.inbox-item:hover {
  text-decoration: none;
  color: black;
}

.inbox-item .photo {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 9px;
  float: left;
  border: 1px solid #eee;
}

.msg-content {
  margin-left: 95px;
}

.item-content {
  border-bottom: 1px solid #E7E7E7;
}

.item-content .date {
  float: right;
  font-size: 11px;
  color: #666;
  padding-top: 2px;
  padding-right: 40px;
}

.image-wrapper {
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  float: left;
  margin: -10px 0 -10px 20px;
  min-height: 80px;
  min-width: 80px;
  position: relative;
  width: auto;
  margin-top: -10px;
  margin-bottom: 0px;
  min-height: 49px;
  box-shadow: none;
  margin-right: 10px;
  z-index: 5;
}

.truncated {
  max-height: 50px;
  overflow: hidden;
}
