<div class="topActionBar">
  <div class="action-dropdown"><span style="margin-top:5px;">All Messages</span></div>
</div>
<div class="inbox-list">
  <div class="inbox-item">
    <div class="item-content">
      <img class="photo" src="" alt="" width="60">
      <div class="date">
        <span class="past">Sent at</span>
      </div>
      <div class="msg-content">
        <p class="participants">
          <span class="new-miniprofile-container">
            <strong>
            John Smith
            </strong>
          </span>
        </p>
        <p class="headline">Message subject</p>
        <div class="note">
          <p>
            Message preview
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
