<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      {{link-to 'Emberbook' 'application' class="navbar-brand"}}
    </div>

    <ul class="nav navbar-nav">
      {{#link-to 'connections' tagName="li"}}
        {{link-to 'Connections' 'connections'}}
      {{/link-to}}

      {{#link-to 'companies' tagName="li"}}
        {{link-to 'Companies' 'companies'}}
      {{/link-to}}
    </ul>
  </div>
</nav>

{{outlet}}
