<link rel="stylesheet" type="text/css" href="/assets/messages.css">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Messages</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-2">
      <a href class="btn btn-danger btn-block">Compose</a>
      <hr>
      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <a href=""><span class="badge pull-right">32</span> Inbox</a>
        </li>
        <li><a href="">Sent</a></li>
        <li><a href="">Archive</a></li>
        <li><a href="">Trash</a></li>
      </ul>
    </div>
    <div class="col-md-7 content-outer">
      {{outlet}}
    </div>
  </div>
</div>
