<link rel="stylesheet" type="text/css" href="/assets/messages.css">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Messages</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-2">
      {{#link-to 'messages.compose' class="btn btn-danger btn-block"}}
        Compose
      {{/link-to}}
      <hr>
      <ul class="nav nav-pills nav-stacked">
        {{#link-to 'messages.list' tagName="li"}}
          {{#link-to 'messages.list'}}
            <span class="badge pull-right">32</span> Inbox
          {{/link-to}}
        {{/link-to}}
        <li><a href="">Sent</a></li>
        <li><a href="">Archive</a></li>
        <li><a href="">Trash</a></li>
      </ul>
    </div>
    <div class="col-md-7 content-outer">
      {{outlet}}
    </div>
  </div>
</div>
